<div class="text-inner component-inner">
    {{#if title}}
    <div class="text-title component-title">
        <h4 class="text-title-inner component-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="text-body component-body">
        <div class="text-body-inner component-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
</div>